.box-parkir{
  height: 450px !important;
}

.panel-yellow{
  background: #f9bc24;
  color: rgba(255,255,255,1);
}

.header-box-parkir{
  font-size: 35px !important;
  font-weight: bold !important;
}

.body-box-parkir{
  height: 87%;
  display: flex;
  color: white;
}

.text-box-parkir{
  align-self: center;
  text-align: center;
  * {
    color: white;
  }
}
